//- display of videos

extends layout

block content
	h1 Vote Here!!

	div.videos
		for video in bigVideoArray
			if video.pairs === startVotingPair
				div.pair-1
					h3 
						em= video.name
					p= video.title
					p= video.description
					a(href= "/votesubmit/#{video.name}") VOTE!!
					p Current votes: #{video.votes}
					#{video.url}
		h3 Go to next pair ...
			form(method='post', action='/video2')
				input.button(name='button', type='submit', value='Go!')
			

