//- display of videos

extends layout

block content
	h1 Vote Here!!

	div.videos
		for video in bigVideoArray
			if video.pairs === "1"
				div.pair-1
					h3
						em= video.name
					p= video.title
					p= video.description
					a(href= "/votesubmit/#{video.name}") VOTE!!
					p Current votes: #{video.votes}
					#{video.url}


			else
				div.pair-2
					h3
						em= video.name
					p= video.title
					p= video.description
					a(href= "/votesubmit/#{video.name}") VOTE!!
					p Current votes: #{video.votes}
					#{video.url}






	//- h3 Want to Vote?
	//- 	form(method='post', action='/votesubmit')
	//- 		input.button(name='button', type='submit')



